/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@import "~antd/dist/antd.css";

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #272823;
  color: #ffffff;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #eeeeee;
}

tbody tr:hover {
  background-color: rgba(116, 185, 255, 0.2);
}

tbody tr:last-of-type {
  border-bottom: 2px solid #272823;
}

tbody tr.active-row {
  font-weight: bold;
  color: #272823;
}

.line-numbers-rows {
  /* top: 1em !important;
  left: 1em !important; */
}

div.container > code > div:nth-child(1)::before {
  color: white !important;
}

code > div.line-number::before {
  color: white !important;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em 18;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em 13;
}
h6 {
  font-size: 0.75em;
}

/* Menu Bar Styling */

.ant-layout-sider-children {
  padding-top: 1em;
}

.DocSearch.DocSearch-Button {
  width: 250px;
}

.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 25px !important;
}

.ant-menu-submenu-title {
  max-height: 30px !important;
}